@*@page "/"*@

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<Counter></Counter>

<p>so Components are awesome we can reuse them anywhere just like here we used counter componet</p>*@
